/* CSS */

header {
  display: flex;
  padding: 25px 0px;
  /*Marge verticale*/
  /*background-color:#99A79A;Couleur de fond*/
  text-align: center;
  color: #ff1494;
  /*texte centré*/
}


nav,
ul,
li {
  color: #ff1494;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}








.one {
  /* ( nom classe commence par. )*/
  color: #ff1494;

}





h2 {
  color: #ff69b4;
  font-family: verdana;
  width: 100px;
  font-size: 2rem;
  letter-spacing: 1px;
}





p {
  height: auto;
  width: 100%;
  margin: auto;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1rem;
  letter-spacing: 1px;
  color: blue;
}